DJANGO_DEBUG=True
DJANGO_SECRET_KEY=VERY_SECRET_KEY
DJANGO_ALLOWED_HOSTS=*

POSTGRES_DB=VK_Overflow
POSTGRES_USER=psql_master
POSTGRES_PASSWORD=really_secret_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

MEMCACHED_HOST=localhost
MEMCACHED_PORT=11211

CENTRIFUGO_API_KEY=blablabla
CENTRIFUGO_TOKEN_HMAC_SECRET_KEY=key_from_centrifugo/config.json
