asgiref==3.10.0
cfgv==3.4.0
da-vinci==0.5.0
distlib==0.4.0
Django==6.0
django-debug-toolbar==6.0.0
filelock==3.20.0
flake8==7.3.0
flake8-alphabetize==0.0.21
flake8_import_order==0.19.2
gunicorn==23.0.0
identify==2.6.15
mccabe==0.7.0
nodeenv==1.9.1
packaging==25.0
pillow==11.3.0
platformdirs==4.5.0
pre_commit==4.3.0
psycopg2==2.9.10
pycodestyle==2.14.0
pyflakes==3.4.0
pymemcache==4.0.0
python-dotenv==1.1.1
PyYAML==6.0.3
setuptools==80.9.0
shortuuid==1.0.13
sorl-thumbnail==12.11.0
sqlparse==0.5.3
virtualenv==20.35.3
