{% extends "core/base.html" %}
{% load static %}

{% block tab_title %}VK Overflow{% endblock tab_title %}

{% block content %}
    <h3 style="margin-bottom: 1.8rem;">
        <a style="text-decoration: none; color: black;" href="{% url 'homepage' %}">Новые вопросы</a>
        <a style="font-size: 1rem; text-decoration: none; color: dimgrey;" href="{% url 'hot_questions' %}">Наиболее интересные</a>
    </h3>
    <div class="container flex-column">
    {% for question in page_obj %}
        <div class="question-card">
            <h3><a style="text-decoration: none; color: black" href="{% url 'view_question' question_id=question.id %}">{{ question.title|truncatechars:80 }}</a></h3>
            <a>{{ question.question_text|truncatechars:120 }}</a>

            <br><br>
            <div class="rating-block flex-row" id="rating-block-{{ question.id }}">
                <img src="{% static "assets/arrow-up.svg" %}" class="{% if question.user_vote == 1 %}rating-up-clicked{% endif %}" onclick="voteQuestion({{ question.id }}, 'like');">
                <a>{{ question.rating }}</a>
                <img src="{% static "assets/arrow-down.svg" %}" class="{% if question.user_vote == -1 %}rating-down-clicked{% endif %}" onclick="voteQuestion({{ question.id }}, 'dislike');">
            </div>
        </div>
    {% endfor %}
    </div>

    {% include 'core/pagination.html' %}

{% endblock content %}


{% block scripts %}
    <script>const CSRF_TOKEN = '{{ csrf_token }}';</script>
    <script type="text/javascript" src="{% static "js/like-dislike.js" %}"></script>
{% endblock %}
