{% load static %}
{# We will use middleware or context processors and for loop, that's wiil be best solution #}
<div class="container p-3" style="border-radius: 1em; border: solid darkgray 1px">
    <p class="fs-4">Популярные теги</p>
    <div class="d-flex flex-wrap col-12 gap-1 p-1 justify-content-start">
        <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">XD</span>
        <span class="badge bg-secondary-subtle text-secondary-emphasis rounded-pill">Some</span>
        <span class="badge bg-success-subtle text-success-emphasis rounded-pill">Strange</span>
        <span class="badge bg-info-subtle text-info-emphasis rounded-pill">Tags</span>
        <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">Here</span>
        <span class="badge bg-info-subtle text-secondary-emphasis rounded-pill">I hope</span>
        <span class="badge bg-success-subtle text-success-emphasis rounded-pill">it's</span>
        <span class="badge bg-info-subtle text-info-emphasis rounded-pill">a useful</span>
        <span class="badge bg-secondary-subtle text-secondary-emphasis rounded-pill">block</span>
        <span class="badge bg-secondary-subtle text-secondary-emphasis rounded-pill">Here</span>
        <span class="badge bg-success-subtle text-success-emphasis rounded-pill">may</span>
        <span class="badge bg-info-subtle text-info-emphasis rounded-pill">be</span>
        <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">your</span>
        <span class="badge bg-info-subtle text-secondary-emphasis rounded-pill">advertisement)</span>
        <span class="badge bg-success-subtle text-success-emphasis rounded-pill">or</span>
        <span class="badge bg-info-subtle text-info-emphasis rounded-pill">really</span>
        <span class="badge bg-secondary-subtle text-secondary-emphasis rounded-pill">cool</span>
        <span class="badge bg-secondary-subtle text-secondary-emphasis rounded-pill">theme</span>
    </div>
</div>

<div class="container p-3" style="border-radius: 1em; border: solid darkgray 1px; margin-top: 1rem;">
    <p class="fs-4">Активные пользователи</p>
    <div class="d-flex flex-column col-12 gap-1 p-1 justify-content-start fs-6">
        <a style="color: orangered">Hindu</a>
        <a style="color: darkslategray">Mr. Freeman</a>
        <a style="color: darkslategray">Code master</a>
        <a style="color: dimgrey">Linus Torvalds</a>
        <a style="color: dimgrey">Just a moder</a>
    </div>
</div>
