{% extends "core/base.html" %}
{% load static %}

{% block tab_title %}VK Overflow{% endblock tab_title %}

{% block content %}
    <h3 style="margin-bottom: 1.8rem;">{{ page_title }}</h3>
    <div class="container flex-column">
        {% for question in questions %}
        <div class="question-card">
            <h3><a style="text-decoration: none; color: black" href="{% url 'view_question' question_id=question.qid %}">{{ question.title }}</a></h3>
            <a>{{ question.description }}</a>

            <br><br>
            <div class="rating-block flex-row">
                <img src="{% static "assets/arrow-up.svg" %}" onclick="alert('При клике мог бы увеличиться рейтинг поста, но реализация того мне ещё и не снилась!');">
                <a>{{ question.rating }}</a>
                <img src="{% static "assets/arrow-down.svg" %}" onclick="alert('При клике мог бы уменьшиться рейтинг поста, но реализация того мне ещё и не снилась!');">
            </div>
        </div>
    {% endfor %}
    </div>
    <ul class="pagination">
        <li><a href="#"><img src="{% static 'assets/arrow-left.svg' %}"></a></li>
        <li class="active-page"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><img src="{% static 'assets/arrow-right.svg' %}"></a></li>
    </ul>

{% endblock content %}
