{% extends 'core/base.html' %}
{% load static %}

{% block tab_title %}
    Вопрос ...
{% endblock tab_title %}

{% block content %}
    <div class="question-card">
        <h3>{{ question.title }}</h3>
        <p>{{ question.description }}</p>

        <div class="flex-row">
            {% for tag in question.tags %}
            <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">{{ tag }}</span>
            {% endfor %}
        </div>

        <div class="author-card">
            <img src="{% static 'assets/default-avatar.png' %}">
            <a>User {{ question.author_id }}</a>
        </div>

        <br>
        <div class="rating-block flex-row">
            <img src="{% static "assets/arrow-up.svg" %}" onclick="alert('При клике мог бы увеличиться рейтинг поста, но реализация того мне ещё и не снилась!');">
            <a>{{ question.rating }}</a>
            <img src="{% static "assets/arrow-down.svg" %}" onclick="alert('При клике мог бы уменьшиться рейтинг поста, но реализация того мне ещё и не снилась!');">
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col ps-5">
            <div class="answer-card" style="padding: 1rem">
                <textarea class="form-control mt-1" style="resize: none" id="description" rows="3" placeholder="Напишите свой ответ"></textarea>
                <btn class="btn btn-outline-primary mt-3">Оставить ответ</btn>
            </div>

            {% for ans in answers %}
            <div class="answer-card">
                <div class="answer-author-card">
                    <img src="{% static 'assets/default-avatar.png' %}">
                    <a class="fs-5">User {{ ans.uid }}</a>
                </div>
                <p class="col-11">{{ ans.text }}</p>

                <div class="rating-block flex-row" style="margin-right: 1rem; float: right;">
                    <img src="{% static "assets/arrow-up.svg" %}" onclick="alert('При клике мог бы увеличиться рейтинг поста, но реализация того мне ещё и не снилась!');">
                    <a>{{ ans.answer_rating }}</a>
                    <img src="{% static "assets/arrow-down.svg" %}" onclick="alert('При клике мог бы уменьшиться рейтинг поста, но реализация того мне ещё и не снилась!');">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
