{% extends 'core/base.html' %}
{% load static %}
{% load thumbnail %}

{% block tab_title %}
    {{ question.title|truncatechars:20 }}
{% endblock tab_title %}

{% block content %}
    <div class="question-card">
        <h3>{{ question.title }}</h3>
        <p>{{ question.question_text }}</p>

        <div class="flex-row">
            {% for tag in question.tags.all %}
            <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">
                <a href="{% url 'view_tag' tag_id=tag.id %}" style="text-decoration: none; color:inherit">
                    {{ tag }}
                </a>
            </span>
            {% endfor %}
        </div>

        <div class="author-card">
            {% if question.author.avatar %}
                {% thumbnail question.author.avatar '512x512' crop='center' as im %}
                    <img class="rounded-circle" src="{{ im.url }}">
                {% endthumbnail %}
            {% else %}
                <img class="rounded-circle" src="{% static 'assets/default-avatar.png' %}">
            {% endif %}
            <a>{{ question.author }}</a>
        </div>

        <br>
        <div class="rating-block flex-row" id="rating-block-{{ question.id }}">
            <img src="{% static "assets/arrow-up.svg" %}" class="{% if question.user_vote == 1 %}rating-up-clicked{% endif %}" onclick="voteQuestion({{ question.id }}, 'like')">
            <a>{{ question.rating }}</a>
            <img src="{% static "assets/arrow-down.svg" %}" class="{% if question.user_vote == -1 %}rating-down-clicked{% endif %}" onclick="voteQuestion({{ question.id }}, 'dislike')">
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col ps-5" id="answers-container">
            <div class="answer-card" style="padding: 1rem">
                <form id="answer-form" method="post" action="{% url 'new_answer' %}">
                    {% csrf_token %}
                    <input type="hidden" name="question" value="{{ question.id }}">
                    <textarea id="answer-text" class="form-control mt-1" style="resize: none" name="answer_text" rows="3" placeholder="Напишите свой ответ"></textarea>
                    <div id="answer-error" class="text-danger mt-2" style="display: none;"></div>
                    <button class="btn btn-outline-primary mt-3" type="submit">Оставить ответ</button>
                </form>
            </div>
            {% for ans in answers %}
                {% include 'questions/answer_card.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}


{% block scripts %}
    <script>const CSRF_TOKEN = '{{ csrf_token }}';</script>
    <script type="text/javascript" src="{% static "js/like-dislike.js" %}"></script>
    <script type="text/javascript" src="{% static "js/new-answer.js" %}"></script>
    <script src="https://unpkg.com/centrifuge@5.4.0/dist/centrifuge.js"></script>
    <script>
        const centrifuge = new Centrifuge('{{ centrifugo_ws_url }}', {
            token: '{{ centrifugo_token }}'
        });

        centrifuge.on('connecting', function (ctx) {
            console.log(`connecting: ${ctx.code}, ${ctx.reason}`);
        }).on('connected', function (ctx) {
            console.log(`connected over ${ctx.transport}`);
        }).on('disconnected', function (ctx) {
            console.log(`disconnected: ${ctx.code}, ${ctx.reason}`);
        }).connect();

        const sub = centrifuge.newSubscription("question_{{ question.id }}");

        sub.on('publication', function (ctx) {
            const data = ctx.data;
            const answersContainer = document.getElementById('answers-container');

            const newAnswerHtml = `
                <div id="answer-${data.id}" class="answer-card">
                    <div class="answer-author-card">
                        <img src="${data.author_avatar}">
                        <a class="fs-5">${data.author}</a>
                    </div>
                    <p class="col-11">${data.text}</p>

                    <div id="ans-rating-block-${data.id}" class="rating-block flex-row" style="margin-right: 1rem; float: right;">
                        <img src="{% static "assets/arrow-up.svg" %}" onclick="voteAnswer(${data.id}, 'like')">
                        <a>${data.rating}</a>
                        <img src="{% static "assets/arrow-down.svg" %}" onclick="voteAnswer(${data.id}, 'dislike')">
                    </div>
                </div>
            `;
            answersContainer.insertAdjacentHTML('beforeend', newAnswerHtml);
        }).subscribe();
    </script>
{% endblock %}
