{% extends 'core/base.html' %}
{% load static %}
{% load thumbnail %}

{% block tab_title %}
    {{ question.title|truncatechars:20 }}
{% endblock tab_title %}

{% block content %}
    <div class="question-card">
        <h3>{{ question.title }}</h3>
        <p>{{ question.question_text }}</p>

        <div class="flex-row">
            {% for tag in question.tags.all %}
            <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">
                <a href="{% url 'view_tag' tag_name=tag.name %}" style="text-decoration: none; color:inherit">
                    {{ tag }}
                </a>
            </span>
            {% endfor %}
        </div>

        <div class="author-card">
            {% if question.author.avatar %}
                {% thumbnail question.author.avatar '512x512' crop='center' as im %}
                    <img class="rounded-circle" src="{{ im.url }}">
                {% endthumbnail %}
            {% else %}
                <img class="rounded-circle" src="{% static 'assets/default-avatar.png' %}">
            {% endif %}
            <a>{{ question.author }}</a>
        </div>

        <br>
        <div class="rating-block flex-row" id="rating-block-{{ question.id }}">
            <img src="{% static "assets/arrow-up.svg" %}" class="{% if question.user_vote == 1 %}rating-up-clicked{% endif %}" onclick="voteQuestion({{ question.id }}, 'like')">
            <a>{{ question.rating }}</a>
            <img src="{% static "assets/arrow-down.svg" %}" class="{% if question.user_vote == -1 %}rating-down-clicked{% endif %}" onclick="voteQuestion({{ question.id }}, 'dislike')">
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col ps-5">
            <div class="answer-card" style="padding: 1rem">
                <textarea class="form-control mt-1" style="resize: none" id="description" rows="3" placeholder="Напишите свой ответ"></textarea>
                <btn class="btn btn-outline-primary mt-3">Оставить ответ</btn>
            </div>

            {% for ans in answers %}
            <div class="answer-card">
                <div class="answer-author-card">
                    {% if ans.author.avatar %}
                        {% thumbnail ans.author.avatar '512x512' crop='center' as im %}
                            <img src="{{ im.url }}">
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static 'assets/default-avatar.png' %}">
                    {% endif %}
                    <a class="fs-5">{{ ans.author }}</a>
                </div>
                <p class="col-11">{{ ans.answer_text }}</p>

                <div id="ans-rating-block-{{ ans.id }}" class="rating-block flex-row" style="margin-right: 1rem; float: right;">
                    <img src="{% static "assets/arrow-up.svg" %}" class="{% if ans.user_vote == 1 %}rating-up-clicked{% endif %}" onclick="voteAnswer({{ ans.id }}, 'like')">
                    <a>{{ ans.rating }}</a>
                    <img src="{% static "assets/arrow-down.svg" %}" class="{% if ans.user_vote == -1 %}rating-down-clicked{% endif %}" onclick="voteAnswer({{ ans.id }}, 'dislike')">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


{% block scripts %}
    <script>const CSRF_TOKEN = '{{ csrf_token }}';</script>
    <script type="text/javascript" src="{% static "js/like-dislike.js" %}"></script>
{% endblock %}
