{% load static %}
{# We will use middleware or context processors and for loop, that's wiil be best solution #}
<div class="container p-3" style="border-radius: 1em; border: solid darkgray 1px">
    <p class="fs-4">Популярные теги</p>
    <div class="d-flex flex-wrap col-12 gap-1 p-1 justify-content-start">
        {% for tag in popular_tags %}
            <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">
                <a style="text-decoration: none; color: inherit" href="{% url 'view_tag' tag_name=tag.name %}">
                    {{ tag }}
                </a>
            </span>
        {% endfor %}
    </div>
</div>

<div class="container p-3" style="border-radius: 1em; border: solid darkgray 1px; margin-top: 1rem;">
    <p class="fs-4">Активные пользователи</p>
    <div class="d-flex flex-column col-12 gap-1 p-1 justify-content-start fs-6">
        {% if most_active_users|length == 0 %}
        <a style="color: darkslategray">Никто не активничает...</a>
        {% endif %}
        {% if most_active_users|length > 0 %}
        <a style="color: orangered">{{ most_active_users.0.username }}</a>
        {% endif %}
        {% if most_active_users|length > 1 %}
        <a style="color: darkslategray">{{ most_active_users.1.username }}</a>
        {% endif %}
        {% if most_active_users|length > 2 %}
        <a style="color: darkslategray">{{ most_active_users.2.username }}</a>
        {% endif %}
        {% if most_active_users|length > 3 %}
        <a style="color: dimgrey">{{ most_active_users.3.username }}</a>
        {% endif %}
        {% if most_active_users|length > 4 %}
        <a style="color: dimgrey">{{ most_active_users.4.username }}</a>
        {% endif %}
    </div>
</div>
